<div class="row">
  <div class="span5 well">
    <audio id="audioPlayer" controls="controls" src='<%= @topic.audio %>'> 
    Your browser does not support the audio element.
    </audio><br />
    <span class="btn btn-primary" style="margin-right: 10px">Set A</span>
    <span class="btn btn-primary" style="margin-right: 10px">Set B</span>
    <span class="btn btn-danger" style="margin-right: 10px">Clear</span>
  </div>
  <div class="span9">
    <%= simple_format(@topic.transcript) %>
  </div>
</div>
